<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>0/1 Knapsack Visualizer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
  <header>
    <h1>Logistics/Cargo Loading</h1>
    <p>Your logistics loading problems made easier!!</p>
  </header>

  <section class="intro">
    <p>We aim to help you decide what to choose in order to maximize their profit.
    </p>
  </section>

  <section class="user-input"> 
    <h2>Input</h2>
    <form id="inputForm" method="POST" action="{{ url_for('get_items') }}">
      <label for="items">Number of items:</label>
      <input type="number" id="items" name="items" min="1" placeholder="e.g., 3" required />
      <br>
      <label for="capacity">Maximum weight that can be loaded:</label>
      <input type="number" id="capacity" name="capacity" required min="5">
      <br><br>
      <button type="submit">Next</button>
    </form>
  </section>  

</body>
</html>
